body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-image:url("img/fondoshopping.jpg");/*imagen de fondo para el login*/
    background-attachment: fixed; 
    min-height: min-content;
    background-size: cover;
    color: whitesmoke;

}

h1,h2,h3,h4,h5,h6 { /*PARA TODOS LOS TITULOS DE DISTINTOS TAMAÑOS*/
    margin: 0px;
    color: #ffffff;
    align-content: center;
    text-align: center;
}
.loginformato{
    top: 50%;
    text-align: left;
    align-content: center;
    align-items: center;
    height: 30em;
    margin: 0;
    position: absolute;
   /*top: 50%;*/ top: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

h2 { /*formato para el texto inicio sesion*/
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

label{ /*formato labels: Usuario, Contraseña*/
    margin: 2px;
    color: #ffffff;
    font-size: 20px;
    
}

.label2{ /*label que dice "o iniciar con "*/
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-size: 20px;
}  /*no lo use, elegi usar h4, pero lo dejo por las dudas*/


a {
    text-decoration: none;
    align-content: left;
    font-family: Poppins-Regular;
	font-size: 20px;
	line-height: 1.7;
    color: #ffffff;
    border-color: transparent;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover { /*CUANDO PASO EL MOUSE SOBRE EL LINK*/
    text-decoration: none;
    color: #ffffff!important;
    font-size: 20px;
}

p { /*TODOS LOS PARRAFOS*/
	font-family: Poppins-Regular;
	font-size: 20px;
	line-height: 1.7;
	color: #ffffff;
	margin: 0px;
}

.linkes{
    width: 100%;
    text-align: left;
    padding-top: 55px;
}

.linkesout{
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
    
}

.txt2 { /*TEXTO OLVIDO CONTRASEÑA Y REGISTRARSE*/
    font-family: Poppins-Regular;
    font-size: 20px;
    color: #eeff00;
    line-height: 1.5;
    border-bottom: 1px solid #999999;

}

button {
    background: #000000;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 60px;
    cursor: pointer!important;
    width: 100%;
    border-radius: 6px;
}
/*SEUDOCLASE INSTANTE QUE HACE CLICK*/
button:active{ /*REDUCE EL TAMAÑO*/
    transform: scale(0.9);
}
/*SEUDOCLASE INSTANTE QUE pasa sobre el boton*/
button:hover {
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
    transition-duration: 3s;
    size: 2cm;
}

input{
    border-top: solid 5px rgb(6, 15, 85);
}
/*textboxes de usuario y contraseña*/
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    background: white;
    text-size-adjust: 35px;
    color: rgb(0, 0, 0); /*color de texto al escribir*/
    font-size: 18px;
}

input[type="text"]:focus, input[type="password"]:focus, input :focus 
{  /*CLICK EN LA CAJA DE TEXTO*/
  border-color: yellowgreen !important;
  border: 50px;
}

.recordarolvidar{ /* CLASE checklist>>RECORDARME, link>>OLVIDÓCONTRASEÑA*/
display: -webkit-box;   display: -webkit-flex;    display: -moz-box;
display: flex;         
justify-content: space-between;
align-content: center;

    width: 100%; /*width full*/     padding-top: 3px;    padding-bottom: 32px;
}
 /*clase checklist>>RECORDARME */
 .label-checkbox{
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #000000;
    line-height: 1.4;
  
    display: block;
    cursor: pointer;
 }
/*::before*/
.label-checkbox::before{
    content: "\f00c";
    font-family: FontAwesome;       font-size: 13px;            color: transparent;

    display: -webkit-box;               display: -webkit-flex;
    display: -moz-box;                  display: -ms-flexbox;   display: flex;

    justify-content: center;              align-items: center;
    position: absolute;                   width: 18px;           height:18px;
    border-radius: 2px;                   background: #fff;    border:1px solid #6675df;
    left: 0;    top: 50%;
    -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);     -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #00ff9d     
}   

/*COPIE EL FORMATO PARA LOS BOTONES DE LOGIN DE GOOGLE Y FACEBOOK*/
/*[ Button sign in with ]*/
.btn-margen{    margin-bottom: 20px; }

/*----------------boton facebook*/ /*boton google----------------*/
.btn-face, /*boton facebook*/ .btn-google /*boton google*/ {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 1.2;
  
    display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
/*    padding: 15px;
    width: calc((100% - 20px) / 2);*/
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }
  .btn-google::before, /*boton Google*/  .btn-face::before /*boton FacebooK*/{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    /*COLOR DEGRADE A LOS BOTONES Facebook y Google*/
    background: -webkit-linear-gradient(45deg, #100111, #00dbde);
    background: -o-linear-gradient(45deg, #440046, #84eef0);
    background: -moz-linear-gradient(45deg, #00dbde, #440046);
    background: linear-gradient(45deg, #00dbde, #440046);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
/*boton facebook antes de clickear o pasar mouse por arriba*/
.btn-face {   color: #fff;   background-color: #3b5998;}
.btn-face i {  font-size: 30px;  margin-right: 17px;  padding-bottom: 3px;}

.btn-google {  color: #555555;  background-color: #fff;}

.btn-google img {  width: 30px;  margin-right: 15px;  padding-bottom: 3px;}

.btn-face:hover:before,.btn-google:hover:before {  opacity: 1;}

.btn-face:hover,.btn-google:hover {  color: #fff;}

.btn-face,.btn-google {  width: 100%;}

ul, li { /*FILAS, COLUMNAS*/
	margin: 0px;
	list-style-type: none;
}

/*--footer--*/
p.copyright-agileinfo {
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
}
footer p a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}
footer p a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
footer {
    padding: 4em 0;
    text-align: center;
}
/*--//footer--*/

/*-- /responsive design --*/
@media(min-width:768px) /*apartir de los 768 pixeles*/
{/*para que se adapte, cuando cambio pagina de tamaño*/
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px; /*que se baje un poco más*/
        border-radius: 2%; /*redondeo el formulario*/
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 47px!important;
    }
}
@media(max-width:667px) {
    h1 {
        font-size: 45px!important;
    }
}
@media(max-width:640px) {
    h1 {
        font-size: 43px!important;
    }
}
@media(max-width:568px) {
    h1 {
        font-size: 40px!important;
    }
}
@media(max-width:480px) {

    h1 {
        font-size: 38px!important;
    }
}
@media(max-width:414px) {
    h1 {
        font-size: 34px!important;
    }
}
@media(max-width:384px) {
    h1 {
        font-size: 30px!important;
    }
}
@media(max-width:320px) {
    h1 {
        font-size: 25px!important;
    }
}

/*-- /responsive design --*/