.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* para nombre de usuario*/
#sesion{
  
  font-size: 18px;
  color: rgb(216, 212, 235);
  text-shadow: 0 2px 4px rgba(2, 255, 234, 0.972);
}
.logout-btn{
  color: white;
  background: black;
  border: none;
  
}
/********************** formato para la barra de busqueda, cuando se ve, cuando se hace click*/
#inputSearch{
  color: brown;
  background-color: rgb(245, 189, 222);
  margin: .4rem 0;
  border-color: salmon;
  border-radius: 50px 20px;
  box-shadow: 3px 3px darksalmon;
  width: 7cm;
  height: 1cm;
  align-content: center;
  padding-left: 20px;
  padding-right:20px;
}
#inputSearch:active, #inputSearch:hover{
  background: pink;
  border-radius: 50px 20px;
  border-color: white;
  outline: none;  
  padding: 2px;
  padding-left: 20px;
  padding-right:20px;

}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
ESTAMOS AGREGANDO UN MENU DESPLEGABLE:
PARA PODER VER EL PERFIL DE USUARIO, BOTON DE CERRARSESION
obtenido de internet
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
    display:none;
    position: absolute;
    background-color: white;
    min-width: 155px;
    overflow:auto;
    z-index: 1;
    color:black;
    padding: 8px 10px;
}
.dropdown-toggle a{
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display:block;
}
.dropdown a:hover {
      background-color: yellow;
}